In [5]:
# calculate the multiplication for two numbers and sum of two numbers

a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
def mul(a,b):
    res=a*b
    return res

def sum(a,b):
    res=a+b
    return res
print(mul(a,b))
print(sum(a,b))

Enter the value of a :  2
Enter the value of b :  3

6
5

In [17]:
#print the sum of current number and previous number
prev=0
for i in range(1,11):
    curr_sum=prev+i
    print("current num",i,"previous num",prev,"sum : ",curr_sum)
    prev=i

current num 1 previous num 0 sum :  1
current num 2 previous num 1 sum :  3
current num 3 previous num 2 sum :  5
current num 4 previous num 3 sum :  7
current num 5 previous num 4 sum :  9
current num 6 previous num 5 sum :  11
current num 7 previous num 6 sum :  13
current num 8 previous num 7 sum :  15
current num 9 previous num 8 sum :  17
current num 10 previous num 9 sum :  19

In [27]:
#print characters present at even index numbers
s=input("Enter the string : ")
size=len(s)
for i in range(0,size-1,2):
    print(i,s[i])

Enter the string :  python

0 p
2 t
4 o

In [29]:
#remove first n characters from a string
s=input("Enter the value of String : ")
n=int(input("Enter the value of n : "))
def remove_char(s,n):
    return s[n:]
print(remove_char(s,n))

Enter the value of String :  python
Enter the value of n :  2

thon

In [35]:
# check if the first and last numbers of the list are the same 
list1=input()
list2=input()
def first_last(numberlist):
    first_num=numberlist[0]
    last_num=numberlist[-1]
    if first_num==last_num:
        return True
    else:
        return False
print("result of list is : ",first_last(list1))
print("result of list2 is : ",first_last(list2))

 1 2 3 1
 1 2 3 4 5

result of list is :  True
result of list2 is :  False

In [43]:
#display numbers divisible by 5
list1=[10,20,33,46,55]
for i in list1:
    if i%5==0:
        print(i)

10
20
55

In [49]:
# find the number of occurences of substring in a string
s=input("Enter the String : ")
print(f"The Emma word is coming {s.count("Emma")} Times")

Enter the String :  Emma is good developer Emma is a writer

The Emma word is coming 2

In [51]:
s=input("Enter the string : ")
text=input("Enter the text that you want to find in String : ")
print(f"The word in text is {s.count(text)} Times")

Enter the string :  emma is good writer the emma
Enter the text that you want to find in String :  emma

The word in text is 2 Times

In [61]:
#print the following pattern 
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5
n=int(input("Enter the value of n : "))
for i in range(n):
    for j in range(i):
        print(i,end=" ")
    print('\n')

Enter the value of n :  5

1

2 2

3 3 3

4 4 4 4

In [73]:
# check palindrome number
n=int(input("Enter the number : "))
# number=n
# rev=0
# while number>0:
#     rem=number%10
#     rev=(rev*10)+rem
#     number=number//10
# if n==rev:
#     print("number is palindrome")
# else:
#     print("number is not palindrome")


# using function
def pali(number):
    n=number
    rev=0
    while number>0:
        rem=number%10
        rev=(rev*10)+rem
        number=number//10
    if n==rev:
        print("number is palindrome")
    else:
        print("number is not palindrome")
pali(n)

Enter the number :  125

number is not palindrome

In [91]:
#Merge two list should contain odd numbers from list1 and even numbers fromist2
# list1=list(input("Enter the list1 value : "))
# list2=list(input("Enter the list2 value : "))
list1=[10,20,25,30,35]
list2=[40,45,60,75,90]
def merge(list1,list2):
    list=[]
    for i in list1:
        if i%2!=0:
            list.append(i)
    for i in list2:
        if i%2==0:
            list.append(i)
    return list
print("The merge list is ",merge(list1,list2))

The merge list is  [25, 35, 40, 60, 90]

In [109]:
# reverse a number
n=int(input("Enter the number : "))
while n>0:
    digit=n%10
    n=n//10
    print(digit,end=" ")

Enter the number :  2345

5 4 3 2

In [111]:
# calculate income tax
income=45000
tax=0
print("Given income is : ",income)
if income<=10000:
    tax=0
elif income<=20000:
    x=income-10000
    tax=x*10/10
else:
    tax=0
    tax=10000*10/100
    tax+=(income-20000)*20/100
print("total tax is pay : ",tax)

Given income is :  45000
total tax is pay :  6000.0

In [117]:
# multiplication table from 1 to 10
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end="  ")
    print("\t\t\t")

Enter the value of n :  10

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [129]:
# print a downward half pyramid pattern of stars

n=int(input("Enter the value of n : "))
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("*",end=' ')
    print(" ")

Enter the value of n :  5

* * * * *
* * * *
* * *
* *
*

In [137]:
# get an int value of base raises to the power of exponent
a=int(input("Ente the value of a : "))
b=int(input("Enter the value of b : "))
def exp(base,exp):
    num=exp
    result=1
    while num>0:
        result=result*base
        num=num-1
    print(base,"raise to the power of ",exp,"is",result)
exp(a,b)

Ente the value of a :  5
Enter the value of b :  4

5 raise to the power of  4 is 625

Python Input and output Exercise

In [139]:
# Accept numbers from the user
n1=int(input("Enter the value of a number : "))
n2=int(input("Enter the value of a number : "))
print("The multiplication of two numbers are : ",n1*n2)

Enter the value of a number :  3
Enter the value of a number :  4

The multiplication of two numbers are :  12

In [143]:
# Display three string "name" ,"is","james" as "name**is**james"
s1=input("Enter the value of string1 : ")
s2=input("Enter the value of string2 : ")
s3=input("Enter the value of string3 : ")
print(s1,s2,s3,sep="**")

Enter the value of string1 :  Name
Enter the value of string2 :  Is
Enter the value of string3 :  Jmaes

Name**Is**Jmaes

In [147]:
# convert Decimal number to octal using print()
num=8
print('%o' %num)

10

In [151]:
#Display float number with 2 decimal places using print()
num=456.78963
print('%.2f' %num)

456.79

In [169]:
# Accept a list of 5 float numbers as an input from the user
numbers=[]
for i in range(0,5):
    print("Enter number at location", i, ":")
    item=float(input())
    numbers.append(item)
print(numbers)

Enter number at location 0 :

 1

Enter number at location 1 :

 1

Enter number at location 2 :

 1

Enter number at location 3 :

 2

Enter number at location 4 :

 3

[1.0, 1.0, 1.0, 2.0, 3.0]

In [175]:
# Accept any three string from one input() call
str1,str2,str3=input("Enter three string").split()
print('name1 : ',str1)
print('name2 : ',str2)
print('name3 : ',str3)

Enter three string Emma Jessa Kelly

name1 :  Emma
name2 :  Jessa
name3 :  Kelly

In [177]:
# Format variables using a string.format() method.
totalmoney=1000
quantity=3
price=450
statement="I have {0} dollars so I can buy {1} football for {2} dollars."
print(statement.format(totalmoney,quantity,price))

I have 1000 dollars so I can buy 3 football for 450 dollars.

Python if else,for loop,and range() Exercise with solution

In [181]:
# Print first 10 natural numbers using while loop
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [199]:
# Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5
for i in range(1,6,1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [205]:
# Calculate sum of all numbers from 1 to a given number
n=int(input("Enter the number "))
sum=0
for i in range(n+1):
    sum=sum+i
print("sum is : ",sum)

Enter the number  10

sum is :  55

In [213]:
# Print multiplication table of a given number
n=int(input("Enter the number : "))
for i in range(1,11,1):
    table=n*i
    print(n,"x",i,"=",table)

Enter the number :  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [219]:
# Display numbers from a list using a loop
# Write a Python program to display only those numbers from a list that satisfy the following conditions

# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the following number
# If the number is greater than 500, then stop the loop

list1=[12,75,150,180,145,525,50]
for i in list1:
    if i>500:
        break
    elif i>150:
        continue
    else:
        if i%5==0:
            print(i)

75
150
145

In [223]:
 # Count the total number of digits in a number
n=int(input("Enter the numbers : "))
count=0
while n!=0:
    n=n//10
    count+=1
print("Total digits are : " ,count)

Enter the numbers :  345

Total digits are :  3

In [225]:
# Print the following pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1
n=int(input())
for i in range(0,n+1):
    for j in range(n-i,0,-1):
        print(j,end=" ")
    print("\n")

 5

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [231]:
# Print list in reverse order using a loop
list1=[10,20,30,40,50]
new_list=reversed(list1)
for i in new_list:
    print(i)

50
40
30
20
10

In [235]:
 # Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [241]:
# Display a message “Done” after the successful execution of the for loop
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

In [245]:
# Print all prime numbers within a range
start=25
end=50
for num in range(start,end+1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

29
31
37
41
43
47

In [249]:
# Display Fibonacci series up to 10 terms
num1,num2=0,1
for i in range(10):
    print(num1,end=" ")
    res=num1+num2
    num1=num2
    num2=res

0 1 1 2 3 5 8 13 21 34

In [253]:
# Find the factorial of a given number
n=int(input())
fact=1
if n<0:
    print("the factorial does not exist for negative numbers")
elif n==0:
    print("The factorial of a number is 1")
else:
    for i in range(1,n+1):
        fact=fact*i
    print("The factorial of ",n,"is",fact)

 5

The factorial of  5 is 120

In [257]:
# Reverse a integer number
n=int(input("Enter the number : "))
while n>0:
    digit=n%10
    n=n//10
    print(digit,end="")

Enter the number :  76542

24567

In [261]:
# Print elements from a given list present at odd index positions
list1=[10,20,30,40,50,60,70,80,90,100]
for i in list1:
    if i%2==0:
        print(i,end=" ")

10 20 30 40 50 60 70 80 90 100

In [265]:
# Calculate the cube of all numbers from 1 to a given number
n=int(input())
for i in range(1,n+1):
    cube=i*i*i
    print(f"The cube of {i} is {cube}")

 6

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125
The cube of 6 is 216

In [269]:
# Find the sum of the series up to n terms
n=int(input())
start=2
sum=0
for i in range(0,n):
    print(start,end="+")
    sum+=start
    start=start*10+2
print("\n",sum)

 5

2+22+222+2222+22222+
 24690

In [271]:
# Print the following pattern
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print("\r")

 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Function Exercise

In [275]:
def fun(name,age):
    print(name,age)
fun("sagar",18)

sagar 18

In [285]:
# Create a function with variable length of arguments
def fun(*args):
    for i in args:
        print(i,end=" " )
    print("\n")
fun(20,23,25)
fun(80,100)

20 23 25

80 100

In [287]:
# Return multiple values from a function
def cal(a,b):
    add=a+b
    sub=a-b
    return add,sub
print(cal(40,10))

(50, 30)

In [289]:
# Create a function with a default argument
def fun(name,salary=9000):
    print(f"Name :{name} salary : {salary}")
fun("Ben",12000)
fun("jessa")

Name :Ben salary : 12000
Name :jessa salary : 9000

In [291]:
# reate an inner function to calculate the addition in the following way
def outer(a,b):
    square=a**2
    def add(a,b):
        return a+b
    addition=add(a,b)
    return addition+5
result=outer(5,10)
print(result)

20

In [295]:
# Create a recursive function
sum=0
def sum(n):
    if n:
        return n+sum(n-1)
    else:
        return 0
res=sum(10)
print(res)

55

In [297]:
# Assign a different name to function and call it through the new name
def display(name,age):
    print(name,age)
display("Emma",26)
student=display
student("Emma",26)

Emma 26
Emma 26

In [307]:
# Generate a Python list of all the even numbers between 4 to 30
list1=[]
def fun(list1):
    for i in range(4,30):
        if i%2==0:
            list1.append(i)
    return list1
res=fun(list1)
print(res)
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [311]:
# Find the largest item from a given list
x=[4,6,8,24,12,2]
print(max(x))
print(min(x))

24
2

List Exercise

In [313]:
# Reverse a list in Python
list1=[100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [317]:
# Concatenate two lists index-wise
# use the zip() function. This function takes two or more iterables 
# (like list, dict, string), aggregates them in a tuple, and returns it.
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [319]:
# Turn every item of a list into its square
list1=[1,2,3,4,5,6,7]
list2=[]
for i in list1:
    sq=i*i
    list2.append(sq)
print(list2)

[1, 4, 9, 16, 25, 36, 49]

In [321]:
# Concatenate two lists in the following order
# list1 = ["Hello ", "take "]
# list2 = ["Dear", "Sir"]
# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']


list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res=[x+y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [323]:
# Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [325]:
# Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res=list(filter(None,list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [329]:
# Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [333]:
# Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [345]:
# Replace list’s item with new value if found
# if found 20 print 200
list1 = [5, 10, 15, 20, 25, 50, 20]
# index=list1.index(20)
# list1[index]=200
# print(list1)

# if we want to replace the whole value in the list
# numerate(list1) is used to get both the index and the 
# value of each item in the list,
for i,value in enumerate(list1):
    if value==20:
        list1[i]=200
print(list1)

[5, 10, 15, 200, 25, 50, 200]

In [355]:
# Remove all occurrences of a specific item from a list.
# Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
list2=[]
for i in list1:
    if i!=20:
        list2.append(i)
    else:
        continue
print(list2)

[5, 15, 25, 50]

Dictionary Exercise

In [361]:
# Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict=dict(zip(keys,values))
print(res_dict)

# second method using update 
res_dict1=dict()
for i in range(len(keys)):
    res_dict1.update({keys[i] : values[i]})
print(res_dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [365]:
 # Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={**dict1,**dict2}
print(dict3)

# second method
dict4=dict1.copy()
dict4.update(dict2)
print(dict4)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [369]:
# Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])
print(sampleDict['class']['student']['name'])

80
Mike

In [373]:
# Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res=dict.fromkeys(employees,defaults)
print(res)
# print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [379]:
# Create a dictionary by extracting the keys from a given dictionary
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":80000,
    "city":"new york"}
keys=["name","salary"]
res=dict()
for k in keys:
    res.update({k:sample_dict[k]})
print(res)

# second method
newdict={k:sample_dict[k] for k in keys}
print(newdict)

{'name': 'Kelly', 'salary': 80000}
{'name': 'Kelly', 'salary': 80000}

In [383]:
# Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [387]:
# Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("200 present in a dict")

200 present in a dict

In [391]:
# Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [399]:
 # Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sample_dict,key=sample_dict.get))

Math

In [403]:
 # Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Set Exercise

In [408]:
sample_set = {"Yellow", "Orange", "Black"} 
sample_list = ["Blue", "Green", "Red"] 
sample_set.update(sample_list) 
print(sample_set)

{'Green', 'Red', 'Black', 'Orange', 'Blue', 'Yellow'}

In [410]:
# Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2))

{40, 50, 30}

In [412]:
# Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [414]:
 # Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [416]:
# Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [418]:
# Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [420]:
# Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
    print("Two sets have no items common")
else:
    print("Two sets have common element")
    print(set1.intersection(set2))

Two sets have common element
{10}

In [422]:
# Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [424]:
# Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

Tuple Exercise

In [426]:
#Reverse the tuple
tuple1=(10,20,30,40,50)
tuple1=tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [428]:
# Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [434]:
# Create a tuple with single item 50
tuple1=(50,)
print(tuple1)
print(type(tuple1))

(50,)
<class 'tuple'>

In [436]:
# Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a,b,c,d=tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [440]:
# Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [442]:
# Copy specific elements from one tuple to a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:-1]
print(tuple2)

(44, 55)

In [444]:
# Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [446]:
# Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))  

def get_second_element(item):  
    return item[1]  

sorted_tuple = tuple(sorted(tuple1, key=get_second_element))  
print(sorted_tuple)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [450]:
# Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [452]:
# Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
def check(t):
    return all(i==t[0] for i in t)
print(check(tuple1))

True

String Exercise

In [3]:
# Create a string made of the first, middle and last character
str1 = "James"
# Jms -->output
res=str1[0]
l=len(str1)
mi=int(l/2)
res=res+str1[mi]
res=res+str1[l-1]
print("String : ",res)

String :  Jms

In [15]:
 # Create a string made of the middle three characters
str1 = input("Enter the String : ")
# Dip
l=len(str1)
mi=int(l/2)
res=str1[mi-1]
res=res+str1[mi]
res=res+str1[mi+1]
print("String : ",res)

# using slicing
res1=str1[mi-1:mi+2]
print(res1)

Enter the String :  jasonay

String :  son
son

In [17]:
# Append new string in the middle of a given string
s1 = "Ault"
s2 = "Kelly"
# AuKellylt
mi=int(len(s1)/2)
res=s1[:mi]+s2+s1[mi:]
print(res)

AuKellylt

In [19]:
# Create a new string made of the first, middle, and last characters of each input string
s1 = "America"
s2 = "Japan"
# AJrpan -->output

res=s1[0]+s2[0]
l=len(s1)
l2=len(s2)
mi=int(l/2)
mi2=int(l2/2)
res=res+s1[mi]+s2[mi2]
res=res+s1[l-1]+s2[l2-1]
print("String : ",res)

String :  AJrpan

In [23]:
# Arrange string characters such that lowercase letters should come first
str1 = input("Enter the string : ")
# yaivePNT -->output
lower=[]
upper=[]
for i in str1:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
str2=''.join(lower+upper)
print("result :",str2)

Enter the string :  PYnAtivE

result : ntivPYAE

In [31]:
# Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
# Total counts of chars, digits, and symbols 
# Chars = 8 
# Digits = 3 
# Symbol = 4
char_count=0
digit_count=0
symbol_count=0
for i in str1:
    if i.isalpha():
        char_count+=1
    elif i.isdigit():
        digit_count+=1
    else:
        symbol_count+=1
print("Chars : ",char_count)
print("Digits : ",digit_count)
print("Symbol : ",symbol_count)

Chars :  8
Digits :  3
Symbol :  4

In [33]:
# Create a mixed String using the following rules
s1 = "Abc"
s2 = "Xyz"
# AzbycX -->output
s1_length=len(s1)
s2_length=len(s2)

length=s1_length if s1_length>s2_length else s2_length
result=""

s2=s2[::-1]

for i in range(length):
    if i<s1_length:
        result=result+s1[i]
    if i<s2_length:
        result=result+s2[i]
print(result)

AzbycX

In [37]:
# String characters balance Test
s1 = input("Enter the s1 string : ")
s2 = input("Enter the s2 string : ")
# True -->output
def fun(s1,s2):
    flag=True
    for i in s1:
        if i in s2:
            continue
        else:
            flag=False
    return flag
print(fun(s1,s2))

Enter the s1 string :  ynf
Enter the s2 string :  pynative

False

In [43]:
 # Find all occurrences of a substring in a given string by ignoring the case
str1 = input("Enter the string : ")
sub_string=input("Enter the sub string : ")
temp_str1=str1.lower()

count=temp_str1.count(sub_string.lower())
print(f"The count of {sub_string} is : {count}")

Enter the string :  hey there i am GOOD GIRL HEY hOW THERE
Enter the sub string :  hey

The count of hey is : 2

In [45]:
# Calculate the sum and average of the digits present in a string
str1 = "PYnative29@#8496"
# Sum is: 38 Average is  6.333333333333333 -->output
total=0
count=0
for i in str1:
    if i.isdigit():
        total+=int(i)
        count+=1
avg=total/count
print(f"Sum is {total} and Average of numbers is {avg}")

Sum is 38 and Average of numbers is 6.333333333333333

In [47]:
# Write a program to count occurrences of all characters within a string
str1 = "Apple"
# {'A': 1, 'p': 2, 'l': 1, 'e': 1} -->output
char_dict=dict()
for i in str1:
    count=str1.count(i)
    char_dict[i]=count
print("result : ",char_dict)

result :  {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [49]:
# Reverse a given string
str1 = "PYnative"
# evitanYP
str1=str1[::-1]
print("reverse string : ",str1)

reverse string :  evitanYP

In [51]:
 # Find the last position of a given substring
str1 = "Emma is a data scientist who knows Python. Emma works at google."
# Last occurrence of Emma starts at index 43 -->output
index=str1.rfind("Emma")
print("Last occurence of Emma is starts at index : ",index)

Last occurence of Emma is starts at index :  43

In [55]:
# Split a string on hyphens
str1 = "Emma-is-a-data-scientist"
# Displaying each substring
# Emma
# is
# a
# data
# scientist -->output
sub_strings=str1.split("-")
print("Displaying each substring")
for i in sub_strings:
    print(i)

Displaying each substring
Emma
is
a
data
scientist

In [59]:
# Remove empty strings from a list of strings
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
new_str1=list(filter(None,str_list))
print(new_str1)

['Emma', 'Jon', 'Kelly', 'Eric']

In [67]:
# Remove special symbols / punctuation from a string
str1 = "/*Jon is @developer & musician"
# "Jon is developer musician" -->output
import string
new_str1=str1.translate(str.maketrans('','',string.punctuation))
print(new_str1)

Jon is developer  musician

In [71]:
# Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
# 2510 -->output
res="".join([i for i in str1 if i.isdigit()])
print(res)

2510

In [73]:
# Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"
# Emma25
# scientist50
res=[]
temp=str1.split()
for i in temp:
    if any(char.isalpha() for char in i) and any(char.isdigit() for char in i):
        res.append(i)
for i in res:
    print(i)

Emma25
scientist50

In [75]:
# Replace each special symbol with # in the following string
str1 = '/*Jon is @developer & musician!!'
##Jon is #developer # musician## -->output
replace_char='#'
for char in string.punctuation:
    str1=str1.replace(char,replace_char)
print(str1)

##Jon is #developer # musician##

Object-Oriented Programming(OOP) Exercise: Classes and objects Exercisse

In [77]:
# Create a Class with instance attributes
class Vehicle:
    def __init__(self,max_speed,mileage):
        self.max_speed=max_speed
        self.mileage=mileage
model=Vehicle(240,18)
print(model.max_speed,model.mileage)

240 18

In [81]:
 # Create a Vehicle class without any variables and methods
class Vehicle:
    pass

In [83]:
# Create a child class Bus that will inherit all of the variables and methods of the Vehicle class
class Vehicle:
    def __init__(self,name,max_speed,mileage):
        self.name=name
        self.max_speed=max_speed
        self.mileage=mileage
class Bus(Vehicle):
    pass
school_bus=Bus("volvo",100,40)
print(school_bus.name,school_bus.max_speed,school_bus.mileage)

volvo 100 40

In [95]:
# Class Inheritance
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
        
    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"
class Bus(Vehicle):
    def seating_capacity(self,capacity=50):
        return super().seating_capacity(capacity=50)
school_bus=Bus("volvo",100,40)
print(school_bus.seating_capacity())
print(school_bus.name)

The seating capacity of a volvo is 50 passengers
volvo

In [97]:
# Define a property that must have the same value for every class instance (object)
class Vehicle:
    color="white"
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.color, School_bus.name, "Speed:", School_bus.max_speed, "Mileage:", School_bus.mileage)

car = Car("Audi Q5", 240, 18)
print(car.color, car.name, "Speed:", car.max_speed, "Mileage:", car.mileage)

white School Volvo Speed: 180 Mileage: 12
white Audi Q5 Speed: 240 Mileage: 18

In [99]:
# Class Inheritance
# Given:

# Create a Bus child class that inherits from the Vehicle class. The default fare charge of any vehicle is seating capacity * 100. If Vehicle is Bus instance, we need to add an extra 10% on full fare as a maintenance charge. So total fare for bus instance will become the final amount = total fare + 10% of the total fare.

# Note: The bus seating capacity is 50. so the final fare amount should be 5500. You need to override the fare() method of a Vehicle class in Bus class.

# Use the following code for your parent Vehicle class. We need to access the parent class from inside a method of a child class.

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        amount=super().fare()
        amount+=amount*10/100
        return amount

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

In [101]:
# Check type of an object
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)
print(type(school_bus))

<class '__main__.Bus'>

In [105]:
# Determine if School_bus is also an instance of the Vehicle class
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)

print(isinstance(School_bus,Vehicle))

True