Python Data Classes

in python ,the dataclass is a feature introduce in python 3.7 that provides
a concise way to define the classes primarily intended to store data.it automatically
generates several special methods,such as input as init,reprand eq,based on the class attributes you define.this simplifies the process of creating and working with data-focused classes

In [5]:
from dataclasses import dataclass
@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:
__init__():Initializes the object and assigns the provided values to the attributes
__repr__(): Provides a string representation of the object.
__eq__():Implements equality comparsion between two objects of the class based on their attributes

In [9]:
person1=Person('shagan',21,'SE')
person1

Person(name='shagan', age=21, profession='SE')

In [13]:
person1.age

21

In [15]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'
rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [17]:
rectangle1.color

'white'

In [19]:
rectangle2.color

'red'

In [23]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int
point=Point(3,6)

In [31]:
point.x

3

In [35]:
(point.x,point.y)

(3, 6)

In [37]:
# it will gives an error once we decide to instance then we can not change
# why we canot change the value because t staring we gave the instance that frozen =0
point.x=12

FrozenInstanceError: cannot assign to field 'x'

In [49]:
# Inheritance
@dataclass
class Person:
    name:str
    age:int
@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [51]:
person=Person('shagan',21)
employee=Employee('shagan',21,'1221','AI')

In [53]:
employee.name

'shagan'

In [55]:
employee.department

'AI'

In [57]:
#nested dataclasses
@dataclass
class Address:
    street:str
    city:str
    zip_code:str
@dataclass
class Person:
    name:str
    age:str
    address:Address

In [61]:
address=Address("123 main street",'rajpura','12454')
person=Person('krish',31,address)

In [63]:
person.address

Address(street='123 main street', city='rajpura', zip_code='12454')

In [65]:
person.address.street

'123 main street'