In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data wrangling

In [4]:
# Loading the dataset
df=pd.read_csv('AAL.csv')

In [6]:
df.head()

         Date        Time State     Group  Unit  Sales
0  1-Oct-2020     Morning    WA      Kids     8  20000
1  1-Oct-2020     Morning    WA       Men     8  20000
2  1-Oct-2020     Morning    WA     Women     4  10000
3  1-Oct-2020     Morning    WA   Seniors    15  37500
4  1-Oct-2020   Afternoon    WA      Kids     3   7500

In [8]:
#just checking the rows and columns
df.shape

(7560, 6)

In [10]:
#a.check and Ensure that the data is clean and free from any missing or incorrect entries. 
df.isna().sum()

Date     0
Time     0
State    0
Group    0
Unit     0
Sales    0
dtype: int64

In [12]:
#  Based on your knowledge of data analytics, include your recommendations for treating missing and incorrect data (dropping the null values or filling them)

Observation : There is no missing or incorrect data is there
if it is present there is 2 approach
1.Drop specific column if missing values are more than 30-40%
2.fill with either mean,median,mode. and mode is more effective

In [15]:
# Choose a suitable data wrangling technique—either data standardization
# or normalization. Execute the preferred normalization method and
# present the resulting data. (Normalization is the preferred approach for this
# problem.)
# we using the sales and unit for scalling
df.head().columns

Index(['Date', 'Time', 'State', 'Group', 'Unit', 'Sales'], dtype='object')

In [17]:
normal=['Sales','Unit']

In [19]:
df[normal]=(df[normal] - df[normal].min())/(df[normal].max()-df[normal].min())

In [21]:
df[normal]

         Sales      Unit
0     0.095238  0.095238
1     0.095238  0.095238
2     0.031746  0.031746
3     0.206349  0.206349
4     0.015873  0.015873
...        ...       ...
7555  0.190476  0.190476
7556  0.206349  0.206349
7557  0.206349  0.206349
7558  0.142857  0.142857
7559  0.174603  0.174603

[7560 rows x 2 columns]

In [23]:
df.head()

         Date        Time State     Group      Unit     Sales
0  1-Oct-2020     Morning    WA      Kids  0.095238  0.095238
1  1-Oct-2020     Morning    WA       Men  0.095238  0.095238
2  1-Oct-2020     Morning    WA     Women  0.031746  0.031746
3  1-Oct-2020     Morning    WA   Seniors  0.206349  0.206349
4  1-Oct-2020   Afternoon    WA      Kids  0.015873  0.015873

In [25]:
# Share your insights regarding the application of the GroupBy() function for
# either data chunking or merging, and offer a recommendation based on
# your analysis.

In [27]:
# Data chunking refers to breaking down the data into meaningful segments
# so according to my dataset I am using data chunking. not merging because merging happens only when their test datset available so that we can merge te data

#for total sales 
total_sales=df.groupby(['State','Sales']).sum().reset_index()

In [29]:
print(total_sales)

    State     Sales                                               Date  \
0     NSW  0.158730  4-Nov-20205-Nov-20205-Nov-20208-Nov-20209-Nov-...
1     NSW  0.174603  2-Nov-20206-Nov-202012-Nov-202012-Nov-202018-N...
2     NSW  0.190476  2-Nov-20202-Nov-20202-Nov-20203-Nov-20205-Nov-...
3     NSW  0.206349  2-Oct-20203-Oct-20205-Oct-20206-Oct-202013-Oct...
4     NSW  0.222222  7-Oct-20209-Oct-202010-Oct-202011-Oct-202017-O...
..    ...       ...                                                ...
166    WA  0.142857  1-Oct-20205-Oct-20209-Oct-202010-Oct-202010-Oc...
167    WA  0.158730  5-Oct-20206-Oct-20207-Oct-20208-Oct-20209-Oct-...
168    WA  0.174603  2-Oct-20202-Oct-20202-Oct-20203-Oct-20203-Oct-...
169    WA  0.190476  5-Oct-20206-Oct-20206-Oct-20208-Oct-20208-Oct-...
170    WA  0.206349  1-Oct-20201-Oct-20201-Oct-20203-Oct-20204-Oct-...

                                                  Time  \
0     Evening Evening Evening Evening Afternoon Eve...
1     Morning Evening Morning Morning Evening After...
2     Afternoon Evening Evening Morning Afternoon A...
3     Morning Evening Morning Morning Morning After...
4     Afternoon Morning Afternoon Evening Evening M...
..                                                 ...
166   Afternoon Morning Evening Morning Afternoon E...
167   Afternoon Afternoon Morning Evening Morning M...
168   Morning Morning Afternoon Morning Evening Mor...
169   Afternoon Morning Evening Morning Afternoon A...
170   Morning Evening Evening Morning Morning Morni...

                                                 Group       Unit
0     Men Men Women Kids Women Women Men Men Senior...   2.222222
1     Kids Men Men Seniors Seniors Seniors Kids Wom...   1.571429
2     Women Kids Men Kids Kids Kids Women Men Kids ...   3.238095
3     Seniors Men Women Women Men Kids Seniors Seni...   7.428571
4     Men Seniors Women Seniors Men Kids Kids Women...   5.111111
..                                                 ...        ...
166   Seniors Kids Seniors Women Women Seniors Kids...   7.714286
167   Men Men Kids Kids Men Men Kids Men Kids Kids ...   6.666667
168   Women Seniors Men Men Women Seniors Kids Wome...  11.000000
169   Kids Kids Men Kids Men Men Seniors Women Seni...  11.238095
170   Seniors Kids Men Kids Men Women Seniors Senio...  14.031746

[171 rows x 6 columns]

In [31]:
df.head()

         Date        Time State     Group      Unit     Sales
0  1-Oct-2020     Morning    WA      Kids  0.095238  0.095238
1  1-Oct-2020     Morning    WA       Men  0.095238  0.095238
2  1-Oct-2020     Morning    WA     Women  0.031746  0.031746
3  1-Oct-2020     Morning    WA   Seniors  0.206349  0.206349
4  1-Oct-2020   Afternoon    WA      Kids  0.015873  0.015873

# Data analysis

In [34]:
# Perform descriptive statistical analysis on the data in the Sales and Unit 
# columns. Utilize techniques such as mean, median, mode, and standard 
# deviation for this analysis

#for sales
sales_mean=df['Sales'].mean()
sales_median=df['Sales'].median()
sales_mode=df['Sales'].mode()[0]
sales_std=df['Sales'].std()
print(sales_mean)
print(sales_median)
print(sales_mode)
print(sales_std)

0.25405433778449654
0.19047619047619047
0.1111111111111111
0.20478417107280086

In [36]:
#for units
sales_mean=df['Unit'].mean()
sales_median=df['Unit'].median()
sales_mode=df['Unit'].mode()[0]
sales_std=df['Unit'].std()
print(sales_mean)
print(sales_median)
print(sales_mode)
print(sales_std)

0.25405433778449654
0.19047619047619047
0.1111111111111111
0.20478417107280086

In [42]:
# Identify the group with the highest sales and the group with the lowest 
# sales based on the data provided
df.head()

         Date        Time State     Group      Unit     Sales
0  1-Oct-2020     Morning    WA      Kids  0.095238  0.095238
1  1-Oct-2020     Morning    WA       Men  0.095238  0.095238
2  1-Oct-2020     Morning    WA     Women  0.031746  0.031746
3  1-Oct-2020     Morning    WA   Seniors  0.206349  0.206349
4  1-Oct-2020   Afternoon    WA      Kids  0.015873  0.015873

In [60]:
#Lowest sales
sales_sum=df.groupby('Group')['Sales'].sum()
lowest_sales_group=sales_sum.idxmin()
lowest_sales_value=sales_sum.min()
print(lowest_sales_group)
print(lowest_sales_value)

 Seniors
473.57142857142856

In [62]:
#highest sales
sales_sum=df.groupby('Group')['Sales'].sum()
highest_sales_group=sales_sum.idxmax()
highest_sales_value=sales_sum.max()
print(highest_sales_group)
print(highest_sales_value)

 Men
484.4444444444444

In [ ]:
# Generate weekly, monthly, and quarterly reports to document and 
# present the results of the analysis conducted